<%= form_for(@score_item) do |f| %>
  <% if @score_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score_item.errors.count, "error") %> prohibited this score_item from being saved:</h2>

      <ul>
      <% @score_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
  	<%= f.label :category_id, "Category Information" %><br>
	<%= f.hidden_field :category_id, value: @category.id %> 
    <%= @category.award.name %>: <%= @category.code %> <%= @category.name %> 
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :max_points %><br>
    <%= f.text_field :max_points %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
