<h1>Listing score_items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Max points</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @score_items.each do |score_item| %>
      <tr>
        <td><%= score_item.name %></td>
        <td><%= score_item.description %></td>
        <td><%= score_item.category.award.name %> <%= score_item.category.code %>: <%= score_item.category.name %></td>
        <td><%= score_item.max_points %></td>
        <td><%= link_to 'Show', score_item %></td>
        <td><%= link_to 'Edit', edit_score_item_path(score_item) %></td>
        <td><%= link_to 'Destroy', score_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score item', new_score_item_path %>
