<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @score_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @score_item.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @score_item.category_id %>
</p>

<p>
  <strong>Max points:</strong>
  <%= @score_item.max_points %>
</p>

<%= link_to 'Edit', edit_score_item_path(@score_item) %> |
<%= link_to 'Back', score_items_path %>
