<%= render 'layouts/messages' %>

    <div class="jumbotron">
      <div class="container">
        <img src="/images/template/logo.png" class="logo" width="350" height="204"/>
        <p>Each year, the IAFE conducts contests for its fair members, which recognize and reward excellence. All contests are judged by IAFE member representatives and professionals from respective fields.</p>
        <div class="icons right">
          <a href="https://www.facebook.com/pages/IAFE-The-Network/87203559642?ref=nf" target="_blank"><img src="/images/template/facebook.png" class="social" width="42" height="32"/></a>
          <a href="https://twitter.com/iafe" target="_blank"><img src="/images/template/twitter.png" class="social" width="42" height="32"/></a>
          <a href="https://www.youtube.com/user/IAFEtheNetwork" target="_blank"><img src="/images/template/youtube.png" class="social" width="42" height="32"/></a></div>
        <p><a class="btn btn-primary btn-lg" role="button">Learn More &raquo;</a>
        	<a class="btn btn-primary btn-lg" role="button">Create an Account &raquo;</a>
        </p>
        <p>The deadline for the <%= @deadline.strftime('%Y') %> contest is <%= @deadline.strftime('%B %e') %>.

<span class="countdown">
<span class="days">00</span><span class="seperator">d</span>
<span class="hours">00</span><span class="seperator">h</span>
<span class="minutes">00</span><span class="seperator">m</span>
<span class="seconds">00</span><span class="seperator">s</span>
</span>
<script type="text/javascript">$('.countdown').downCount({ date: '<%= @deadline + 2 %>', offset: +14});</script></p>
      </div>
    </div>

    <div class="container"> 
      <% @awards.where(enabled: true).in_groups_of(3, false).each do |group| %>
        <div class="row">
          <% group.each do |award| %>
            <div class="col-md-4">
              <h2><%= award.name %></h2>
              <p><%= sanitize(award.description) %></p>
              <p><%= link_to "View Categories and Rules &raquo;".html_safe, award, class: "btn btn-default", role: "button" %></p>
            </div>
          <% end %>
        </div>
      <% end %>    
    </div>