<script>$(document).ready(function(){
  $('select').select2();
});</script>

<%= form_for(@judge) do |f| %>
  <% if @judge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@judge.errors.count, "error") %> prohibited this judge from being saved:</h2>

      <ul>
      <% @judge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= collection_select(:judge, :user_id, User.where({judge: true}), :id, :first_last_email, 
    include_blank: "Select the judge you wish to assign") %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= collection_select(:judge, :category_id, Category.sort_by_category_codes(Category.all), :id, :award_code_category,
      include_blank: "Select the category you wish to assign this judge") %>
  </div>
  <div class="field">
    <%= f.label :division_id %><br>
    <%= collection_select(:judge, :division_id, Division.all, :id, :name, include_blank: "Select the division you wish to assign this judge") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
