<h1>Listing judge assignments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Category</th>
      <th>Division</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @judges.each do |judge| %>
      <tr>
        <td><%= judge.user.last_name %>, <%= judge.user.first_name %> - <%= judge.user.email %></td>
        <td><%= judge.category.award.name %> <%= judge.category.code %>: <%= judge.category.name %></td>
        <td><%= judge.division.name %></td>
        <td><%= link_to 'Show', judge %></td>
        <td><%= link_to 'Edit', edit_judge_path(judge) %></td>
        <td><%= link_to 'Destroy', judge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Judge Assignment', new_judge_path %>
