<style>
	table {
		width: 900px;
	}
	
	td {
		border: 1px solid #000000;
    }
</style>

<p style="text-align: center; font-size: 36px;"><%= Time.now.year %> <%= @contest.name %> Winners<br/></p>

<% @categories.sort_by_category_codes(Category.where(award_id: @contest.id)).each do |category| %>
  <p style="font-size: 24px;"><%= category.code %>: <%= category.name %></p>
  <table cellspacing=0 cellpadding=5 style="font-size: 20px;">
  <thead>
    <tr>
      <th style="width: 100px;">Entry ID</th>
      <th style="width: 150px;">Division</th>
      <th>Fair Name</th>
      <th>Rank</th>
    </tr>
  </thead>

  <tbody>
    <% category.submissions.order('division_id DESC').where(contest_year: Time.now.year, disqualify: false, status: "Approved").each do |submission| %>
      <% if submission.ranking < 4 %>
        <tr>
          <td><%= submission.id %></td>
          <td><%= submission.division.name %></td>
          <td><%= submission.organization.name %> - <%= submission.organization.state_province %></td>
          <td><%= submission.ranking %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table><br/>
<% end %>
