<script type="text/javascript">
function toCount(entrance,exit,text,characters) {  
    var entranceObj=document.getElementById(entrance);  
      var exitObj=document.getElementById(exit);  
      var length=characters - entranceObj.value.length;  
      if(length <= 0) {  
        length=0;   
        entranceObj.value=entranceObj.value.substr(0,characters);  
      }  
      exitObj.innerHTML = text.replace("[x]",length);  
    }
</script>

<%= form_for([@submission, @score], html: {multipart: true}) do |f| %>
  <% if @score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% @score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<%= f.label :user_id, "Scored By" %> <span class="required">*</span><br>
  	<% if params[:action] == 'new' || params[:action] == 'create' %>
	  <%= f.hidden_field :user_id, value: current_user.id %> 
      <%= current_user.first_name %> <%= current_user.last_name %>
    <% elsif params[:action] == 'edit' %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= current_user.first_name %> <%= current_user.last_name %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :submission_id, "Submission Information" %> <span class="required">*</span><br>
	<%= f.hidden_field :submission_id, value: @submission.id %> 
    <%= @submission.category.award.name %><br/>
    Category <%= @submission.category.code %>: <%= @submission.category.name %><br/>
    Division <%= @submission.organization.submission_division %><br/>
    <%= @submission.organization.name %> - <%= @submission.organization.city %>, <%= @submission.organization.state_province %><br/>
    Fair Dates: <%= @submission.organization.organization_details.order("created_at").last.fair_start_date.strftime('%m/%d/%Y') %> - <%= @submission.organization.organization_details.order("created_at").last.fair_end_date.strftime('%m/%d/%Y') %><br/><br/>
    <% @submission.submission_details.includes(:submission).each do |submission_detail| %>
      <% if @submission.category.submission_file_type == "URL Link Only" %>
        <%= link_to 'Submission Link', submission_detail.file_url, target: "_blank" %>
      <% elsif @submission.category.submission_file_type == "Video Only" %>
        <%= submission_detail.file_url_html %>
      <% elsif @submission.category.submission_file_type == "App Name" %>
        <span class="bold">App Name or URL:</span> <%= submission_detail.file_url %>      
      <% else %>
        <%= link_to image_tag(submission_detail.attachment.url(:thumb)), submission_detail.attachment.url(:original), target: "_blank" %>
      <% end %>
    <% end %>
    <p><%= f.label :notes, "IAFE Special Notes:" %> <% if @submission.notes.blank? %>None<% else %><%= @submission.notes %><% end %></p>
  </div>
  <div class="field">
    <%= f.label :total_score %> <span class="required">*</span><br>
    Please denote fractions as .25, .5, or .75<br/>
    <%= f.text_field :total_score, size: 5 %> (Out of <%= @submission.category.score_items.sum(:max_points) %>)<br/><br/>
    <p class="bold">Score item breakdown - add each item for total score:</p>
    <ul>
    <% @submission.category.score_items.each do |score_item| %>
      <li><span class="bold"><%= score_item.name %>: <%= score_item.max_points %> points</span><br/>
      	<%= score_item.description %>
      </li>
    <% end %></ul>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <span class="italic">1000 character-limit maximum</span><br>
    <%= f.text_area :comments, size: "30x10", style: "overflow-x: hidden;", value: "", type: "text", id="inputarea", maxlength:"1000", onKeyUp: "toCount('inputarea','calculation','[x] characters remaining',1000);" %>  
    <p id="calculation">1000 characters remaining</p> 
  </div>
  <div class="field">
    <%= f.label :disqualify, "Disqualify?" %><br>
    <%= f.check_box :disqualify %>
  </div>
  <p class="italic">Note: if you choose to disqualify, the IAFE will e-mail all judges of this category to gain a consensus</p>
  <div class="actions">
  	<p><%= f.submit %></p>
  </div>
<% end %>
