<div class="container">
	
	<h1>Judge Dashboard</h1>

<% current_user.judges.each do |judge| %>
  <% @submissions.each do |submission| %>
    <% if submission.category_id == judge.category_id && submission.division_id == judge.division_id && submission.contest_year == Time.now.year && submission.status == 'Approved' %>
      <p><%= submission.category.name %></p>
    <% end %>
  <% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Submission</th>
      <th>Total score</th>
      <th>Comments</th>
      <th>Disqualify</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.user_id %></td>
        <td><%= score.submission_id %></td>
        <td><%= score.total_score %></td>
        <td><%= score.comments %></td>
        <td><%= score.disqualify %></td>
        <td><%= link_to 'Show', score %></td>
        <td><%= link_to 'Edit', edit_score_path(score) %></td>
        <td><%= link_to 'Destroy', score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'New Score', new_score_path %></p>

</div>
