<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %> <span class="required">*</span><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %> <span class="required">*</span><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :suffix %><br>
    <%= f.text_field :suffix %>
  </div>
  <div class="field">
    <%= f.label :phone %> <span class="required">*</span><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %> <span class="required">*</span><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :email_confirmation, "Email Confirmation" %> <span class="required">*</span><br>
	<% if params[:action] == 'new' || params[:action] == 'create' %>
      <%= f.text_field :email_confirmation %>
	<% else %>
	  <%= f.text_field :email_confirmation, value: @user.email %>
	<% end %>
    </div>
  <% if params[:action] == 'new' || params[:action] == 'create' %>
    <div class="field">
      <%= f.label :password %> <span class="required">*</span><br>
      <%= f.password_field :password %>
    </div>
    <div class="field">
     <%= f.label :password_confirmation, "Password Confirmation" %> <span class="required">*</span><br>
     <%= f.password_field :password_confirmation %>
    </div>
  <% end %>
  <div class="field">
    <% if params[:action] == 'new' || params[:action] == 'create' %>
	  <%= f.hidden_field :admin, value: false %> 
    <% else %>
	  <%= f.hidden_field :admin, value: @user.admin %> 
	<% end %>
  </div>
  <div class="field">
    <% if params[:action] == 'new' || params[:action] == 'create' %>
	  <%= f.hidden_field :judge, value: false %> 
	<% else %>
	  <%= f.hidden_field :judge, value: @user.judge %> 
	<% end %>
  </div>
  <div class="field">
    <% if params[:action] == 'new' || params[:action] == 'create' %>
	  <%= f.hidden_field :enabled, value: true %> 
	<% else %>
	  <%= f.hidden_field :enabled, value: @user.enabled %> 
	<% end %>
  </div>
  <div class="actions">
    <p><%= f.submit %></p>
  </div>
<% end %>
