<div class="container">

<h1>Forgot Your Password?</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><p><%= f.label :email %><br/>
  <%= f.email_field :email, autofocus: true %><p></div>

  <div><p><%= f.submit "E-mail me reset password instructions" %></p></div>
<% end %>

<p class="bold">Note: this e-mail may take up to 15-20 minutes to send, please be patient.</p>

<%= render "devise/shared/links" %>

</div>
