<p id="notice"><%= notice %></p>

<%= form_for([@submission, @submission_detail], html: {multipart: true}) do |f| %>
  <% if @submission_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission_detail.errors.count, "error") %> prohibited this submission_detail from being saved:</h2>

      <ul>
      <% @submission_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if Time.now < @award_deadline.actual_deadline + 1 %>
  
  <div class="field">
    <%= f.label :submission_id, "Submission Information" %> <span class="required">*</span><br>
	<%= f.hidden_field :submission_id, value: @submission.id %> 
    <%= @submission.category.award.name %>: <%= @submission.category.code %> <%= @submission.category.name %> 
    (<%= @submission.organization.name %>)
  </div>
  <% if @submission.status == 'Pending' || @submission.status == 'Incomplete' %>
    <% if @submission.category.submission_file_type == "Video Only" || @submission.category.submission_file_type == "URL Link Only" %>
      <div class="field">
        <% if @submission.category.submission_file_type == "Video Only" %>
          <%= f.label :file_url, "Please paste in the URL to your YouTube video." %><br>
        <p>For example, http://www.youtube.com/watch?v=hnkhgu_hVDQ</p>
        <% else %>
          <%= f.label :file_url, "Site URL" %> <span class="required">*</span><br>
        <% end %>
        <%= f.text_field :file_url, size: 60 %>
      </div>
    <% else %>
      <div class="field">
      	<p class="bold italic">The file size limit for this category is <span class="underline"><%= @submission.category.max_total_file_size %> MB</span>.</p>
        <%= f.label :attachment %> <span class="required">*</span><br />
        <%= f.file_field :attachment %>
      </div>
    <% end %>
  <% end %><br/>
  <p class="bold ">Note: if you are submitting multiple documents for one submission, please submit them in the order you want the judges to view them. You will have the opportunity to upload another document after this page.</p>
  <p class="bold">When you hit "Submit" please do not hit "Submit" again. Page may take some time to process the upload.</p>
  <div class="actions">
  	<% if @submission.category.required_format == 'Physical Only' %>
  	  <p class="important">This category does not require any digital files. Please return to the submissions page.</p>
  	<% else %>
      <% if @submission.status == 'Pending' || @submission.status == 'Incomplete' %><p><%= f.submit "Submit" %></p>
      <% else %><p class="important">This submission has been approved or rejected, you cannot add or change its documents.</p>
      <p><%= link_to 'Back to My Submissions', submissions_path %></p><% end %>
    <% end %>
  </div>
  
  <% else %>
    
  <p class="important">The deadline has passed for the current contest year. Submission creation/editing has closed. See you next year!</p>
    
  <% end %>
  
<% end %>
