<%= form_for([@submission, @submission_detail], html: {multipart: true}) do |f| %>
  <% if @submission_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission_detail.errors.count, "error") %> prohibited this submission_detail from being saved:</h2>

      <ul>
      <% @submission_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :submission_id, "Submission Information" %><br>
	<%= f.hidden_field :submission_id, value: @submission.id %> 
    <%= @submission.category.award.name %>: <%= @submission.category.code %> <%= @submission.category.name %> 
    (<%= @submission.organization.name %>)
  </div>
  <div class="field">
    <%= f.label :file_url %><br>
    <%= f.text_field :file_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
