<h1>Listing submission_details</h1>

<table>
  <thead>
    <tr>
      <th>Submission</th>
      <th>File url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @submission_details.each do |submission_detail| %>
      <tr>
        <td><%= submission_detail.submission_id %></td>
        <td><%= submission_detail.file_url %></td>
        <td><%= link_to 'Show', submission_detail %></td>
        <td><%= link_to 'Edit', edit_submission_detail_path(submission_detail) %></td>
        <td><%= link_to 'Destroy', submission_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission detail', new_submission_detail_path %>
