<div class="container">

<p id="notice"><%= notice %></p>

<p>Click the thumbnail or link to view fullsize:</p>

<% if @submission_detail.submission.category.submission_file_type == "URL Link Only" || @submission_detail.submission.category.submission_file_type == "Video Only" %>
  <p><%= link_to 'Submission Link', @submission_detail.file_url, target: "_blank" %></p>
<% elsif @submission_detail.submission.category.submission_file_type == "App Name" %>
  <p><%= @submission_detail.file_url %></p>
<% else %>
  <p><%= link_to image_tag(@submission_detail.attachment.url(:thumb)), @submission_detail.attachment.url(:original), target: "_blank" %></p>
<% end %>

<% if @submission_detail.submission.status == 'Pending' || @submission_detail.submission.status == 'Incomplete' || @submission_detail.submission.user.admin == true %><p><%= link_to 'Edit', edit_submission_submission_detail_path %> | <%= link_to 'Delete', @submission_detail, method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Back to My Submissions', submissions_path %> | <%= link_to 'Upload Another Submission Document', new_submission_submission_detail_path(@submission) %></p>
<% else %><p><%= link_to 'Back to My Submissions', submissions_path %></p><% end %>
</div>
