<%= form_for(@organization_detail) do |f| %>
  <% if @organization_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization_detail.errors.count, "error") %> prohibited this organization_detail from being saved:</h2>

      <ul>
      <% @organization_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if Time.now < @award_deadline.actual_deadline + 1 %>

  <div class="field">
    <%= f.label :organization_id %> <span class="required">*</span><br>
	<% if params[:action] == 'new' || params[:action] == 'create' %>
	  <%= collection_select(:organization_detail, :organization_id, current_user.organizations.where({fair: true, enabled: true}), :id, :name_and_state,  
	  include_blank: true) %>
	<% else %>
	  <%= f.hidden_field :organization_id, value: @organization_detail.organization_id %><%= @organization_detail.organization.name %>
	<% end %>
  </div>
  <div class="field">
    <%= f.label :fair_start_date, "Contest Year's Fair Start Date" %> <span class="required">*</span><br>
    <%= f.date_select :fair_start_date %>
  </div>
  <div class="field">
    <%= f.label :fair_end_date, "Contest Year's Fair End Date" %> <span class="required">*</span><br>
    <%= f.date_select :fair_end_date %>
  </div>
  <div class="field">
    <p><span class="bold">Total Attendance <span class="italic">FROM THE PREVIOUS YEAR (<%= Time.now.year - 1 %>)</span> (Free & Paid Combined) <span class="required">*</span></span><br>
    <span class="italic">Please enter in a whole number with <span class="important">no commas.</span></span><br>
    <%= f.text_field :total_attendance %></p>
  </div>
  <div class="actions"><br/>
    <p><%= f.submit "Submit Dates and Attendance" %></p>
  </div>
  
  <% else %>
    
    <p class="important">The deadline has passed for the current contest year. Please add/edit your dates and attendance once the new contest year as started.</p>
    
  <% end %>
  
<% end %>
