<%= form_for(@organization_detail) do |f| %>
  <% if @organization_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization_detail.errors.count, "error") %> prohibited this organization_detail from being saved:</h2>

      <ul>
      <% @organization_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organization_id %><br>
	<% if params[:action] == 'new' || params[:action] == 'create' %>
	  <%= collection_select(:organization_detail, :organization_id, current_user.organizations.where({fair: true}), :id, :name_and_state,  
	  include_blank: true) %>
	<% else %>
	  <%= f.hidden_field :organization_id, value: :organization_id %><%= @organization_detail.organization.name %>
	<% end %>
  </div>
  <div class="field">
    <%= f.label :fair_start_date, "Contest Year's Fair Start Date" %><br>
    <%= f.date_select :fair_start_date %>
  </div>
  <div class="field">
    <%= f.label :fair_end_date, "Contest Year's Fair End Date" %><br>
    <%= f.date_select :fair_end_date %>
  </div>
  <div class="field">
    <%= f.label :total_attendance, "Total Attendance (Free & Paid Combined)" %><br>
    Please enter in a whole number with no commas.<br>
    <%= f.text_field :total_attendance %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Dates and Attendance" %>
  </div>
<% end %>
