<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @score_detail.score_id %>
</p>

<p>
  <strong>Points:</strong>
  <%= @score_detail.points %>
</p>

<p>
  <strong>Score item:</strong>
  <%= @score_detail.score_item_id %>
</p>

<%= link_to 'Edit', edit_score_detail_path(@score_detail) %> |
<%= link_to 'Back', score_details_path %>
