<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :category_id %><br>
    <%= collection_select(:submission, :category_id, Category.sort_by_category_codes(Category.all), :id, :award_code_category,
      include_blank: "Select the category you wish to enter") %>
  </div>
  <div class="field">
  	<%= f.label :user_id, "Submitted By" %><br>
	<%= f.hidden_field :user_id, value: current_user.id %> 
    <%= current_user.first_name %> <%= current_user.last_name %>
  </div>
  <div class="field">
    <%= f.label :organization_id, "Organization of Submission" %><br>
    <%= collection_select(:submission, :organization_id, current_user.organizations.where({fair: true}), :id, :name_and_state) %>
  </div>
  <div class="field">
  <% if params[:action] == 'new' %>
    <%= f.hidden_field :notes %>
  <% else %>
    <% if current_user.admin == true %>
      <div class="field">
        <%= f.label :notes %><br>
        <%= f.text_area :notes %>
      </div>
    <% else %>
      <%= f.hidden_field :notes, value: :notes %>
    <% end %>
  <% end %>
  <% if params[:action] == 'new' %>
    <%= f.hidden_field :status, value: "Incomplete" %>
  <% else %>
    <% if current_user.admin == true %>
      <div class="field">
        <%= f.label :status, "Status" %><br>
        <%= f.select :status, options_for_select([ "Incomplete", "Pending", "Approved", "Rejected" ]) %>
      </div>
    <% else %>
      <%= f.hidden_field :status, value: :status %>
    <% end %>
  <% end %>
  <% if params[:action] == 'new' %>
    <%= f.hidden_field :physical_version_received, value: false %>
  <% else %>
    <% if current_user.admin == true %>
      <div class="field">
        <%= f.label :physical_version_received, "Physical version received?" %><br>
        <%= f.check_box :physical_version_received %>
      </div>
    <% else %>
      <%= f.hidden_field :physical_version_received, value: :physical_version_received %>
    <% end %>
  <% end %>
  <% if params[:action] == 'new' %>
    <%= f.hidden_field :digital_version_received, value: false %>
  <% else %>
    <% if current_user.admin == true %>
      <div class="field">
        <%= f.label :digital_version_received, "Digital version received?" %><br>
        <%= f.check_box :digital_version_received %>
      </div>
    <% else %>
      <%= f.hidden_field :digital_version_received, value: :digital_version_received %>
    <% end %>
  <% end %>
  <% if params[:action] == 'new' %>
    <%= f.hidden_field :disqualify, value: false %>
  <% else %>
    <% if current_user.admin == true %>
      <div class="field">
        <%= f.label :disqualify, "Disqualify?" %><br>
        <%= f.check_box :disqualify %>
      </div>
    <% else %>
      <%= f.hidden_field :disqualify, value: :disqualify %>
    <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit "Next: Upload Contest Documents" %>
    </div>
<% end %>
