<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if Time.now < @actual_deadline + 1 %>
  
  <div class="field">
    <%= f.label :category_id %> <span class="required">*</span><br>
    <% if params[:action] == 'new' || params[:action] == 'create' %>
      <%= collection_select(:submission, :category_id, Category.sort_by_category_codes(Category.where(enabled: true).includes(:award)), :id, :award_code_category,
      include_blank: "Select the category you wish to enter") %>
    <% else %>
      <%= @submission.category.award.name %> <%= @submission.category.code %>: <%= @submission.category.name %>
    <% end %>
  </div>
  <div class="field">
  	<%= f.label :user_id, "Submitted By" %> <span class="required">*</span><br>
	<%= f.hidden_field :user_id, value: current_user.id %> 
    <%= current_user.first_name %> <%= current_user.last_name %>
  </div>
  <div class="field">
    <%= f.label :organization_id, "Organization of Submission" %> <span class="required">*</span><br>
    <%= collection_select(:submission, :organization_id, current_user.organizations.where({fair: true, enabled: true}), :id, :name_and_state) %>
  </div>
  <div class="field">
  <% if params[:action] == 'new' || params[:action] == 'create' %>
  <% else %>
      <%= f.hidden_field :status, value: @submission.status %>
  <% end %>
  <% if params[:action] == 'new' || params[:action] == 'create' %>
    <%= f.hidden_field :physical_version_received, value: false %>
  <% else %>
    <%= f.hidden_field :physical_version_received, value: @submission.physical_version_received %>
  <% end %>
  <% if params[:action] == 'new' || params[:action] == 'create' %>
    <%= f.hidden_field :digital_version_received, value: false %>
  <% else %>
    <%= f.hidden_field :digital_version_received, value: @submission.digital_version_received %>
  <% end %>
  <% if params[:action] == 'new' || params[:action] == 'create' %>
    <%= f.hidden_field :disqualify, value: false %>
  <% else %>
    <%= f.hidden_field :disqualify, value: @submission.disqualify %>
  <% end %>
  <% if params[:action] == 'new' || params[:action] == 'create' %>
    <%= f.hidden_field :best_of_division, value: false %>
  <% else %>
    <%= f.hidden_field :best_of_division, value: @submission.best_of_division %>
  <% end %>
  <% if params[:action] == 'new' || params[:action] == 'create' %>
    <%= f.hidden_field :judges_choice, value: false %>
  <% else %>
    <%= f.hidden_field :judges_choice, value: @submission.judges_choice %>
  <% end %>
  <div class="actions">
    <% if params[:action] == 'new' || params[:action] == 'create' %>
      <p><%= f.submit "Next: Upload New Document/Link (if Digital Format is Required)" %></p>
    <% else %>
      <% if @submission.status == 'Pending' || @submission.status == 'Incomplete' %><p><%= f.submit "Submit" %></p>
      <% else %><p class="important">This submission has been approved or rejected, you cannot change it.</p><% end %>
    <% end %>
    </div>
    
  <% else %>
    
  <p class="important">The deadline has passed for the current contest year. Submission creation/editing has closed. See you next year!</p>
    
  <% end %>
  
<% end %>
