<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :category_id %> <span class="required">*</span><br>
    <% if params[:action] == 'new' || params[:action] == 'create' %>
      <%= collection_select(:submission, :category_id, Category.sort_by_category_codes(Category.all), :id, :award_code_category,
      include_blank: "Select the category you wish to enter") %>
    <% else %>
      <%= @submission.category.award.name %> <%= @submission.category.code %>: <%= @submission.category.name %>
    <% end %>
  </div>
  <div class="field">
  	<%= f.label :user_id, "Submitted By" %> <span class="required">*</span><br>
	<%= f.hidden_field :user_id, value: current_user.id %> 
    <%= current_user.first_name %> <%= current_user.last_name %>
  </div>
  <div class="field">
    <%= f.label :organization_id, "Organization of Submission" %> <span class="required">*</span><br>
    <%= collection_select(:submission, :organization_id, current_user.organizations.where({fair: true}), :id, :name_and_state) %>
  </div>
  <div class="field">
  <% if params[:action] == 'new' || params[:action] == 'create' %>
    <%= f.hidden_field :status, value: "Incomplete" %>
  <% else %>
      <%= f.hidden_field :status, value: @submission.status %>
  <% end %>
  <% if params[:action] == 'new' || params[:action] == 'create' %>
    <%= f.hidden_field :physical_version_received, value: false %>
  <% else %>
    <%= f.hidden_field :physical_version_received, value: @submission.physical_version_received %>
  <% end %>
  <% if params[:action] == 'new' || params[:action] == 'create' %>
    <%= f.hidden_field :digital_version_received, value: false %>
  <% else %>
    <%= f.hidden_field :digital_version_received, value: @submission.digital_version_received %>
  <% end %>
  <% if params[:action] == 'new' || params[:action] == 'create' %>
    <%= f.hidden_field :disqualify, value: false %>
  <% else %>
    <%= f.hidden_field :disqualify, value: @submission.disqualify %>
  <% end %>
  <div class="actions">
    <% if params[:action] == 'new' || params[:action] == 'create' %>
      <p><%= f.submit "Next: Upload New Document/Link" %></p>
    <% else %>
      <p><%= f.submit "Submit" %></p>
    <% end %>
    </div>
<% end %>
