<h1>Listing submissions</h1>

<table>
  <thead>
    <tr>
      <th>Award</th>
      <th>Category</th>
      <th>User</th>
      <th>Organization</th>
      <th>Division</th>
      <th>Contest year</th>
      <th>Notes</th>
      <th>Status</th>
      <th>Physical version received?</th>
      <th>Digital version received?</th>
      <th>Disqualify?</th>
      <th>Final Score</th>
      <th>Winner?</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
      	<td><%= submission.category.award.name %></td>
        <td><%= submission.category.code %> <%= submission.category.name %></td>
        <td><%= submission.user.first_name %> <%= submission.user.last_name %></td>
        <td><%= submission.organization.name %></td>
        <td><%= submission.division.name %></td>
        <td><%= submission.contest_year %></td>
        <td><%= sanitize(submission.notes) %></td>
        <td><%= submission.status %></td>
        <td><%= submission.physical_version_received %></td>
        <td><%= submission.digital_version_received %></td>
        <td><%= submission.disqualify %></td>
        <td><%= submission.calculate_final_score %></td>
        <td><%= submission.winner? %></td>
        <td><%= link_to 'Show', submission %></td>
        <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
        <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add Digital File', new_submission_submission_detail_path(submission) %></td>
        <td><%= link_to 'Score Entry', new_submission_score_path(submission) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission', new_submission_path %>
