<div class="container"><p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @submission.category.award.name %> <%= @submission.category.code %>: <%= @submission.category.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @submission.user.first_name %> <%= @submission.user.last_name %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @submission.organization.name %>
</p>

<p>
  <strong>Division:</strong>
  <%= @submission.division.name %>
</p>

<p>
  <strong>Contest year:</strong>
  <%= @submission.contest_year %>
</p>

<p><%= link_to 'Next: Upload Submission Document', new_submission_submission_detail_path(@submission), class: "btn btn-default", role: "button" %></p>

</div>
