<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Organization Name" %> <span class="required">*</span><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :primary_contact, "Fair Manager (First and Last)" %> <span class="required">*</span><br>
    <%= f.text_field :primary_contact %>
  </div>
  <div class="field">
    <%= f.label :address_line_1, "Address Line 1" %> <span class="required">*</span><br>
    <%= f.text_field :address_line_1 %>
  </div>
  <div class="field">
    <%= f.label :address_line_2, "Address Line 2" %><br>
    <%= f.text_field :address_line_2 %>
  </div>
  <div class="field">
    <%= f.label :city %> <span class="required">*</span><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state_province, "State or Province/Territory Postal Code" %> <span class="required">*</span><br>
    <%= f.text_field :state_province, size: 2 %>
  </div>
  <div class="field">
    <%= f.label :country %> <span class="required">*</span><br>
    <%= f.country_select :country, [ "United States", "Canada", "United Kingdom", "Mexico", "Australia", "South Korea" ] %>
  </div>
  <div class="field">
    <%= f.label :zip_code, "Zip Code" %> <span class="required">*</span><br>
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :phone %> <span class="required">*</span><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :fair, "Is this a fair?" %> <span class="required">*</span><br>
    <%= f.check_box :fair, {checked: "checked"}  %>
  </div>
  <div class="field">
    <% if params[:action] == 'new' || params[:action] == 'create' %>
	  <%= f.hidden_field :enabled, value: true %> 
	<% else %>
	  <%= f.hidden_field :enabled, value: @organization.enabled %> 
	<% end %>
  </div>
  <div class="actions">
    <p><%= f.submit %></p>
  </div>
<% end %>
