<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: 50 %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code, size: 5 %>
  </div>
  <div class="field">
    <%= f.label :award_id %><br>
    <%= collection_select(:category, :award_id, Award.all, :id, :name) %>
  </div>
  <div class="field">
  	<%= f.label :submission_file_type %><br>
  	<%= f.select :submission_file_type, options_for_select(["Mixed (PDF and Images)", "PDF Only", "Images Only", "Video Only", "URL Link Only"]) %>
  </div>
  <div class="field">
    <%= f.label :document_max_number %><br>
    <%= f.text_field :document_max_number, size: 5 %>
  </div>
  <div class="field">
    <%= f.label :photo_max_number %><br>
    <%= f.text_field :photo_max_number, size: 5 %>
  </div>
  <div class="field">
    <%= f.label :video_max_number %><br>
    <%= f.text_field :video_max_number, size: 5 %>
  </div>
  <div class="field">
    <%= f.label :link_max_number %><br>
    <%= f.text_field :link_max_number, size: 5 %>
  </div>
  <div class="field">
    <%= f.label :max_total_file_size %><br>
    <%= f.text_field :max_total_file_size, size: 5 %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, size: "30x10" %>
  </div>
  <div class="field">
    <%= f.label :rules %><br>
    <%= f.text_area :rules, size: "30x10" %>
  </div>
  <div class="field">
    <%= f.label :enabled, "Enabled?" %><br>
    <%= f.check_box :enabled, {checked: "checked"} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
