<h1>Listing categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Award</th>
      <th>Submission File Type</th>
      <th>Document max number</th>
      <th>Photo max number</th>
      <th>Video max number</th>
      <th>Link max number</th>
      <th>Max total file size</th>
      <th>Description</th>
      <th>Rules</th>
      <th>Enabled</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.code %></td>
        <td><%= category.award.name %></td>
        <td><%= category.submission_file_type %></td>
        <td><%= category.document_max_number %></td>
        <td><%= category.photo_max_number %></td>
        <td><%= category.video_max_number %></td>
        <td><%= category.link_max_number %></td>
        <td><%= category.max_total_file_size %></td>
        <td><%= sanitize(category.description) %></td>
        <td><%= sanitize(category.rules) %></td>
        <td><%= category.enabled %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
