<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @category.code %>
</p>

<p>
  <strong>Award:</strong>
  <%= @category.award_id %>
</p>

<p>
  <strong>Document max number:</strong>
  <%= @category.document_max_number %>
</p>

<p>
  <strong>Photo max number:</strong>
  <%= @category.photo_max_number %>
</p>

<p>
  <strong>Video max number:</strong>
  <%= @category.video_max_number %>
</p>

<p>
  <strong>Max total file size:</strong>
  <%= @category.max_total_file_size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Rules:</strong>
  <%= @category.rules %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @category.enabled %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
