<%= form_for(@user_organization) do |f| %>
  <% if @user_organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_organization.errors.count, "error") %> prohibited this user_organization from being saved:</h2>

      <ul>
      <% @user_organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id, "User" %><br>
	<%= f.hidden_field :user_id, value: current_user.id %> 
    <%= current_user.first_name %> <%= current_user.last_name %>
  </div>
  <div class="field">
    <%= f.label :organization_id, "Please select the organization you are with. You can assign yourself to multiple organizations; for example, if you are with a third-party agency submitting on behalf of a fair, you must assign yourself to that agency first as your primary organization." %><br>
    <%= collection_select(:user_organization, :organization_id, Organization.all, :id, :name_and_state) %><br>
	<%= link_to "Don't see your organization? Click here to add it first.", new_organization_path %>
  </div>
  <div class="field">
    <%= f.label :primary, "Is this your primary organization for this contest site?" %><br>
    <%= f.check_box :primary, {checked: "checked"} %>
  </div>
  <div class="actions">
    <%= f.submit "Link this org to your account" %>
  </div>
<% end %>
