<!DOCTYPE html>
<html>
<head>
  <title>IAFE Contest</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=8; IE=EDGE">
  <meta name="description" content="The IAFE annually awards excellence in fair programming through four educational contests: Agriculture, Competitive Exhibits, Communications, and Sponsorship."/>
  <link rel="icon" href="/images/template/favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lobster" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52030904-1', 'iafecontest.com');
    ga('send', 'pageview');
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
	
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">IAFE Contest</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contest Rules<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% @awards.where(enabled: true).each do |award| %>
                <li><%= link_to award.name, award %></li>
              <% end %>
            </ul>
        </li>
        <li><%= link_to "How to Submit", instructions_path %></li>
        <li><%= link_to "Contact Us", contact_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li><%= link_to "My Submissions", submissions_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Account Profile", user_path(current_user.id) %></li>
              <li><%= link_to "Change Password", edit_user_registration_path %></li>
              <% if current_user.admin? == true %>
                <li class="divider"></li>
                <li><%= link_to "Admin Dashboard", admin_root_path %></li>
              <% end %>
              <% if current_user.judge? == true %>
                <li class="divider"></li>
                <li><%= link_to "Judge Dashboard", scores_path %></li>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Create an Account", new_user_registration_path %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

<footer>
	<hr/>
	<p class="center">Copyright <a href="http://www.fairsandexpos.com" target="_blank">International Association of Fairs and Expositions</a>. All rights reserved.</p>
</footer>
</body>
</html>
